.cardContainer {
  /* background-color: #253f55; */
  background-color: #06406f;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.loaderContainer {
  /* background-color: #253f55; */
  background-color: #06406f;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 500px;
}

.textContainer {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 8px;
  background-color: #253f55;
}
