.card {
  flex: 0 1 20%;
  height: 225px;
  padding: 12px;
  border-radius: 12px;
  margin: 12px;
  background-color: #f1f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 150x;
  border-radius: 50%;
  border: 2px solid #203444;
  margin-bottom: 20px;
}

.name {
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.email {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: rgb(33, 32, 32);
}

.connectContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.connect {
  width: 20px;
  height: 20px;
  margin: 12px;
  &:hover {
    cursor: pointer;
  }
}
